<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaigns Manager</title>
</head>
<body>
    <h1>Campañas existentes</h1>
    <button id="btnOpenNewCampaign">Nueva campaña</button>
    
    <div id="wrapper"></div>
    
    <script>
        const { ipcRenderer } = require('electron');
    
        window.onload = () => {
            ipcRenderer.send('get-campaigns');
        };
    
        ipcRenderer.on('campaigns-data', (event, campaigns) => {
            let cadenaDOM = "";
            campaigns.forEach(c => {
                cadenaDOM += `
                    <div style="margin-bottom: 1em;">
                        <label><strong>${c.campaing_name}</strong></label><br>        
                        <label><strong>${c.client}</strong></label><br>
                        <label>${c.language}</label>
                    </div>`;
            });
            document.getElementById("wrapper").innerHTML = cadenaDOM;
        });
    
        // Abrir ventana para crear campaña
        document.getElementById("btnOpenForm").addEventListener('click', () => {
            ipcRenderer.send('open-new-campaign-window');
        });
    
        // Recargar campañas si se crea una nueva
        ipcRenderer.on('refresh-campaigns', () => {
            ipcRenderer.send('get-campaigns');
        });
    </script>
</body>
</html>