<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin App</title>
    <!--Link a bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Link a nuestra propia hoja de estilos-->
    <link rel="stylesheet" href="../public/css/ownStyles.css">
</head>

<!--Main page of the app-->

<body>
    <main>
        <!--Seccion 1 con tres columnas-->
        <div class="container-lg test1">
            <div class="row">
                <div class="col-6 test3" >
                    col1
                </div>
                <div class="col">
                    col2
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary btn-sm" id="buttonTest">Test button</button>
                </div>
            </div>
        </div>

    </main>


<!--SCRIPSTS-->

    <!--Scrip para cargar bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!--Scrip para cargar renderer-->
    <script src="../public/js/renderer.js"></script>

</body>

</html>